# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
/.idea.WpfApplication2.iml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Danil-SKP\RiderProjects\WpfApplication2\.idea\.idea.WpfApplication2\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
